.headsection {
  width: 100%;
  height: 100%;
  background: rgb(46, 191, 145);
  background: linear-gradient(
    90deg,
    rgba(46, 191, 145, 1) 0%,
    rgba(94, 105, 199, 1) 100%
  );
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-pagination-bullet{
  background: #fff;
}