.packages-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.packages-page .package-cart {
  margin-bottom: 2rem;
  border: 1px solid rgba(47, 255, 151, 0.389);
}
