@media (max-width: 1600px) {
  .cart-container .box {
    width: 350px;
  }
  .cart-container .box .cart-des {
    top: 15rem;
    left: 1rem;
  }
  .cart-container .box .cart-des h3 {
    font-size: 2rem;
    width: 200px;
  }
  .cart-container .box .icon {
    top: 1.8rem;
    right: 2.3rem;
    font-size: 5rem;
  }
  .tv-service .left-side {
    width: 40%;
  }
  .tv-service .left-side img {
    width: 500px;
  }
  .tv-service .right-side {
    margin-left: 10rem;
  }

  .tv-service .right-side h1 {
    font-size: 4rem;
  }
  .tv-service .right-side h5 {
    font-size: 2.2rem;
  }
  .tv-service .right-side .exp-content .exp {
    font-size: 1.5rem;
  }

  .homeservise .left-side {
    width: 40%;
  }
  .homeservise .left-side img {
    width: 100%;
  }
  .homeservise .right-side h1 {
    font-size: 4rem;
  }
  .packages .title {
    font-size: 2.5rem;
  }
  .package-cart {
    width: 380px;
    height: 600px;
  }
  .package-cart .cart-desc {
    margin: 1rem 3.5rem;
  }
  .contact-us .map {
    width: 45%;
  }
  .contact .pattern {
    height: 500px;
    width: 400px;
  }
  .footer .footer-content {
    width: 300px;
  }
  .footer .footer-content h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1400px) {
  .tv-service .right-side .exp-content {
    width: 500px;
  }
  .tv-service .right-side .exp-content .exp .fa {
    font-size: 5rem;
  }
  .tv-service .right-side .check-content {
    width: 500px;
    text-align: justify;
  }
  .servises .box-area .box {
    width: 300px;
    height: 250px;
  }
  .package-cart {
    width: 350px;
    height: 580px;
  }
  .package-cart .cart-img {
    height: 180px;
  }
  .package-cart .cart-img .overlay {
    width: 120px;
    height: 90px;
  }
  .package-cart .cart-img .overlay h1 {
    font-size: 3.5rem;
  }
  .package-cart .cart-img .overlay p {
    font-size: 1.8rem;
  }
  .package-cart .cart-desc {
    margin: 2rem 2.5rem;
  }
  .package-cart .cart-desc .list p {
    font-size: 1.5rem;
  }
  .package-cart .cart-desc .price {
    font-size: 2.2rem;
  }
  .package-cart .cart-desc .btn {
    width: 150px;
    padding: 10px 15px;
    font-size: 1.2rem;
  }
  .contact h1 {
    width: 550px;
    font-size: 2.5rem;
  }
  .contact .pattern {
    height: 600px;
    width: 300px;
  }
  .footer .footer-content {
    width: 200px;
  }
  .footer .footer-content .social .icon-box {
    width: 40px;
    height: 40px;
  }
  .footer .footer-content .social .icon {
    font-size: 2rem;
  }
  .footer .usefull-link {
    width: 180px;
  }
  .footer .usefull-link h1 {
    font-size: 1.8rem;
  }
}
